.secThree {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1000px;
  .containerThree {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    .textThree {
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 20px;
      text-align: center;
      padding: 40px 40px;
      h1 {
        font-family: "Playfair+Display", times, serif;
        font-size: 80px;
        font-weight: 500;
        color: black;
        line-height: 96px;
      }
      p {
        font-family: "Mukta Mahee", arial, sans-serif;
        font-size: 20px;
        font-weight: 300;
        color: rgb(108, 117, 125);
        text-align: center;
        line-height: 36px;
      }
    }
  }
}
